@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    width: auto;
    margin: 0 auto;
    background: #FFFFFF;
    color: #000000;
    font-family: "Inter", "Arial", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: "Forum", "Times New Roman", serif;
    color: #FFF;
    font-size: 5v;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 50px; */
    letter-spacing: 0.1vw;
    margin-left: auto;
    margin-right: auto;
}
input {
    display: none;
}
header {
    display: flex;
    padding: 0 2vh;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #0C0C0E;
}
.header-h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
    margin: 5vh;
}

.viewer {
    display: flex;
    align-items: center;
    height: 70%;
    /* background-color: red; */
}

.meme-images {
    display: flex;
    width: 60%;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    border: 0.1vw solid #515151;
    border-radius: 1vw;
    box-shadow:0.2vw 0.2vw 0.4vw #454b46;
}

.inner-images {
    /* min-height: 100%; */
    min-width: 400%;
    /* max-width: 400%; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateZ(0);
    transition:all .8s cubic-bezier(.77,0,.175,1)
}
img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap-reverse; */
    height: 30%;
    /* background-color: aqua; */

}


.meme-descr {
    /* width: 50%; */
    margin-top: 2%;
    /* background-color: green; */
    line-height: 8vh;
    font-size: 6vh;
    flex-grow: 1;
    overflow: hidden;
}

.inner-descr {
    min-width: 400%;
    /* max-width: 400%; */
    display: flex;
    justify-content: center;

    transform:translateZ(0);
    transition:all .8s cubic-bezier(.77,0,.175,1)
}


article {
    font-size: 3vw;
    width: 100%;
}


.meme-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 2%;
    /* background-color: yellow; */
}
.button-place {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 8vh;
    cursor: pointer;
    /* background-color: grey; */
}

.button {
    width: 4vh;
    height: 4vh;
    background: #0C0C0E;
    border-radius: 50%;
    /* border-radius:0.7vw; */
    border: 0.3vw solid #da1b1b;
}
.button-place:hover .button {
    border: 0.3vw solid rgb(32, 190, 11);
}
.button-place:active .button {
    transform: scale(0.7);
}

#slide1:checked~ .viewer .meme-images .inner-images {
    /* background-color: green; */
    margin-left: 0;
}
#slide2:checked~ .viewer .meme-images .inner-images {
    /* background-color: greenyellow; */
    margin-left: -100%;
}
#slide3:checked~ .viewer .meme-images .inner-images {
    /* background-color: grey; */
    margin-left: -200%;
}
#slide4:checked~ .viewer .meme-images .inner-images {
    /* background-color: goldenrod; */
    margin-left: -300%;
}




#slide1:checked~ .description .meme-descr .inner-descr {
    /* background-color: green; */
    margin-left: 0;
}
#slide2:checked~ .description .meme-descr .inner-descr {
    /* background-color: greenyellow; */
    margin-left: -100%;
}
#slide3:checked~ .description .meme-descr .inner-descr {
    /* background-color: grey; */
    margin-left: -200%;
}
#slide4:checked~ .description .meme-descr .inner-descr {
    /* background-color: goldenrod; */
    margin-left: -300%;
}

#slide1:checked~ .description .meme-button label:nth-child(1) .button-place .button,
#slide2:checked~ .description .meme-button label:nth-child(2) .button-place .button,
#slide3:checked~ .description .meme-button label:nth-child(3) .button-place .button,
#slide4:checked~ .description .meme-button label:nth-child(4) .button-place .button {
    background-color: gray;
}

footer {
    display: flex;
    height: 5vh;
    flex-direction: column;
    justify-content: center;
    background-color: #0C0C0E;
    font-size: 1vw;
    color: #FFF;
}
.footer-createdby {
    margin: 0 5vh;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .description {
        flex-wrap: wrap-reverse;
        /* background-color: blueviolet; */
    }
    .meme-button {
        margin-left: auto;
        margin-right: auto;
    }
}
